.head{
    
    color:black;
    font-size: 32px;
    margin-top: 20px;
  color: bisque;
  
    

}

.subC{
    display:flex;
    gap:14px
    
    
}
.sub1{
    display:flex;
    align-items: center;
    justify-content: center;
    
    height:24px;
    width:24px;
    
}
.sub1 img{
height: 16px;
width:16px
}

.sub2{
   
    font-size: 16px;

}

.edu{
    font-size: 16px ;
    margin-bottom: 6px;
}

.lis{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap ;
    height: 150px;
    width:250px;    
    
    font-size: 16px;
    list-style: circle;
   
}