.sd4{
    display:flex;
    height:950px;
    width:1000px;
   

}

.jk7{
width:35%;
height: auto;

box-sizing: border-box;
padding-left: 30px;
padding-top: 30px;



}

.cdf{
    width:65%;
    height: auto;
    
    padding-left: 40px;
    padding-right:40px ; 
    margin-top:40px; 


}
.pic1{
    display:flex;
    
   


}

.pic1 img{
    height:250px;
    width:180px;
   border-radius: 250px;
   margin-left: 40px;

}
.video-container {
  position: relative;
 height:950px;
    width:1000px;
  
  
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* key property */
  z-index: -1;
}

