.qq2{
    height:110px;
    width: 300px;
    
   padding: 4px;
    font-size: 52px;
    
}
.we3{
    display:flex;
    justify-content: space-between;
    width:550px;
     padding-left: 4px;
     
}

.wq2{
    height:150px;
    width:400px;
}

.tt1{
    height:200px;
    width:500px;
   
    text-align: justify;
    padding: 4px;
    margin-top: 15px;
}
.we34{
    width:300px;
   
    border:none;
    margin-top: 18px;
    border-top:1px solid bisque ;
   


}
.de3{
    padding-left: 4px;
    display:flex;
    width:500px;
    margin-top: 10px;
    justify-content: space-between;
}
.ccd2{
    width:500px;
    
    text-align: justify;
    margin-top: 10px;
    padding-left: 30px;
}
